
@model IEnumerable<Blockbuster.BusinessModel.Entities.MovieCast>

@{
    string movieId = ViewBag.Movie.Id;
}

<h3>@ViewBag.Movie.Name</h3>
<span class="pull-right">
    @Html.ActionLink("Add New Cast", "Create", "MovieCast", new {@id = movieId}, null)
</span>

<div>
    @foreach (var movieCast in Model)
    {
        <h4>@movieCast.Artist.Name</h4> 
        <span>@Html.ActionLink("Edit","Edit","MovieCast",new {id= movieCast.Id},null)</span>
    }
</div>