@model IEnumerable<Blockbuster.BusinessModel.Entities.Movie>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>

    @foreach (var movie in Model)
    {
        <div>@movie.Name - <span>@movie.Genre.Name</span></div>        
    }
</div>
</body>
</html>
