@model IEnumerable<Blockbuster.BusinessModel.Entities.Movie>

<div>
    <span class="pull-right"> @Html.ActionLink("Create New", "Create", "Movie")</span>
</div>

<table class="table">

        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @movie.Name (@movie.ReleaseYear)
                            <span class="pull-right">
                                <a href="http://localhost:50117/Genre/Edit/@movie.Id">Edit</a> |
                                <a href="http://localhost:50117/Genre/Delete/@movie.Id">Remove</a>
                            </span>
                        </div>
                        <div class="panel-body">
                            @movie.Summary
                        </div>
                    </div>
                </td>               
            </tr>

        }

</table>

