@model IEnumerable<Blockbuster.BusinessModel.Entities.Artist>

<div>
    @Html.ActionLink("Add New","Create","Artist")
</div>
<div>

    <table>
        <thead>
        <tr>
            <td>Artist Name</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var artist in @Model)
        {
            <tr>
                <td>@artist.Name</td>
                <td>
                    @Html.ActionLink("Edit","Edit","Artist",new { id = artist.Id},null)
                    @Html.ActionLink("Delete", "Delete", "Artist", new { id = artist.Id }, null)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

