@model Blockbuster.BusinessModel.Entities.Genre
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Create","Genre",FormMethod.Post))
    {
        @Html.TextBoxFor(genre => genre.Name)
        @Html.TextBox("Save","Save", new {@type="submit"})
    }
</div>
</body>
</html>
