@model Blockbuster.BusinessModel.Entities.Genre

<div>
    @using (Html.BeginForm("Create","Genre",FormMethod.Post))
    {
        @Html.TextBoxFor(genre => genre.Name)
        @Html.TextBox("Save","Save", new {@type="submit"})
    }
</div>
