
@model Blockbuster.BusinessModel.Entities.Genre

<div>
    <h2>Are You Sure, You want to delete @Model.Name from Genre List</h2>
    @using (Html.BeginForm("Delete", "Genre", FormMethod.Post))
    {

        @Html.TextBox("Delete", "Delete", new { type = "submit", @class = "btn btn-danger" })

        <span>&nbsp;</span>

        @Html.ActionLink("Cancel", "Index", "Genre", null, new { @class = "btn btn-warning" })

    }
</div>
