@model Blockbuster.BusinessModel.Entities.Genre


<div>
    @using (Html.BeginForm("Edit", "Genre", FormMethod.Post))
    {
        @Html.LabelFor(genre => genre.Name)
        @Html.TextBoxFor(genre => genre.Name)
        <br/>
        @Html.TextBox("Submit","Submit",null,new { @type="submit"})
    }
</div>

