@model Blockbuster.BusinessModel.Entities.Genre

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Edit", "Genre", FormMethod.Post))
    {
        @Html.LabelFor(genre => genre.Name)
        @Html.TextBoxFor(genre => genre.Name)
        <br/>
        @Html.TextBox("Submit","Submit",null,new { @type="submit"})
    }
</div>
</body>
</html>
