@model IEnumerable<Blockbuster.BusinessModel.Entities.Genre>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h3>Genre List</h3>
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Actions</td>
        </tr>

        </thead>
        <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.Name</td>
                <td>
                    <a href="http://localhost:50117/Genre/Edit/@genre.Id">Edit</a>
                    <a href="http://localhost:50117/Genre/Delete/@genre.Id">Edit</a>
                </td>
            </tr>
            
        }
        </tbody>
    </table>
</div>
</body>
</html>
