@model IEnumerable<Blockbuster.BusinessModel.Entities.Genre>

<div>
    <span>Genre List</span>    
    <span class="pull-right"> @Html.ActionLink("Create New","Create","Genre")</span>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.Name</td>
                <td>
                    <a class="btn btn-info" href="http://localhost:50117/Genre/Edit/@genre.Id">Edit</a>
                    <a class="btn btn-danger" href="http://localhost:50117/Genre/Delete/@genre.Id">Remove</a>
                </td>
            </tr>

        }
    </tbody>
</table>

